main {
  display: flex;
  height: 100vh;
  width: 100vw;
}


.searching input {
  height: 30px;
  padding: 0 15px;
  width: 200px;
  border-radius: 20px;
  background: transparent;
  border: none;
  box-shadow: inset 0 1px 6px;
  margin: 0 20px;
  outline: none;
}
.Right{
  width: 90vw;
}
.color {
  background-color: var(--Backg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 4px var(--input-shadow);
  width: 100%;
}

.show {
  display: flex;
  flex-direction: column;

}

.ShowElements {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}