  .Search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px 0;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
  }

  .Filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .filter {
    margin: 0 10px;
  }

  .Search-container select {
    background-color: var(--btn-color);
    width: 150px;
    height: 25px;
    border-radius: 6px;
    padding: 0 10px;
  }

  input {
    border-radius: 7px;
    padding: 0 10px;
    border: none;
    background-color: var(--bgn-body);
  }

  .search{
    display: flex;
    align-items: center;
    gap: 1rem;  
  }
  .input {
    width: 250px;
    height: 40px;
  }
  