.Cards{
    height: 275px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 1px 2px 6px 6px rgba(0, 0, 0, .3);
    border-radius: 20px;
}
.Cards img{
    height: 175px;
    width: 250px;

}
.Info{
    background-color: rgb(236, 230, 230);
    height: 96px;
}