:root {
  --Backg-color: rgb(255, 255, 255);
  --btn-color:#e4e3e3;
  --input-shadow: rgba(0, 0, 0, .5);
  --order-cardbgn:rgb(255, 255, 255);
  --bgn-body:rgba(236, 236, 236, 0.8);
  --barnav-textcolor: #1F2937
}

button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--btn-color) ;
  transition: .1s;
  display: flex;
  align-items: center;
  gap: .25rem;
  justify-content: center;
}

button:active,
button:active {
  transform: scale(1.1);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--bgn-body);
  
}