:root {
  --Backg-color: rgb(255, 255, 255);
  --btn-color:#e4e3e3;
  --input-shadow: rgba(0, 0, 0, .5);
  --order-cardbgn:rgb(255, 255, 255);
  --bgn-body:rgba(236, 236, 236, 0.8);
  --barnav-textcolor: #1F2937
}

button {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: var(--btn-color) ;
  box-shadow: 0 3px 0 rgba(0, 0, 0, .3);
  transition: .1s;

}

button:active,
button:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, .3);
  transform: translateY(2px);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--bgn-body);
  
}