.ShowCards {
  width: 100%;
  border-radius: 25px;
  display: block;
  
}
.Cards {
  background: #e4e2e2;
  border-radius: 12px;
  padding: 15px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.Cards:hover {
  transform: translateY(-4px);
  border: 1px solid #1677ff33;
}

.Cards img {
  width: 150px;
  display: block;
  margin: 0 auto;
}


/*Esto no se cambia ni por la gran pucta*/
.inventario {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  max-height: 650px;
}
.other{
  display: flex;
  justify-content: space-around;
}
.actions{
  display: flex;
  gap: .3rem;
}
.actions button#edit{
  border: solid 1px rgb(255, 136, 0);
  color: rgb(255, 136, 0);
}
.actions button#delete{
  border: solid 1px rgba(255, 1, 1, 0.808);
  color: rgba(255, 0, 0, 0.87);
}