.MiniDashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
}

.chart {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  margin: 10px 0 10px;
}

.chart:hover {
  background: #dddddd;
}

.title {
  font-size: 0.75rem;
  color: #aaa;
}

.value {
  font-size: 1rem;
  font-weight: bold;
  color: #aaa;
}

.indicador {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.green {
  background-color: #52c41a;
}

.yellow {
  background-color: #faad14;
}

.red {
  background-color: #ff4d4f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.header h2 {
  margin: 0;
  color: #6d6d6d;
}

.header p {
  margin: 0;
  font-size: 0.8rem;
  color: #aaa;
}

.add-btn {
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.other{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.other button{
  margin: 0 5px 0;
}