  .Search-container {
    background-color: var(--Backg-color);
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom:  10px;
    padding: 10px 0;
    box-shadow: 1px 1px 4px var(--input-shadow);
  }

  .Filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .filter{
    margin: 0 10px;
  }

  .Search-container select{
    background-color: var(--btn-color);
    width: 150px;
    height: 25px;
    border-radius: 50px;
    padding: 0 10px;
  }

  input{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    border: none;
    box-shadow: inset 1px 3px 9px var(--input-shadow);
    margin-right: 5px;
  }