
.ShowCards {

  display: flex;
  width: 85vw;
  height: 75vh;
  overflow-y: auto;
  border-radius: 25px;
}

.Cards {
  height: 250px;
  width: 200px;
  border: solid 1px;
  border-radius: 20px;
}

.Cards img {
  height: 150px;
  width: 200px;

}

.Info {
  text-align: left;
  font-size: .87rem;

  height: auto;
  padding: 0 5px;
  padding: 5px;
}

/*Esto no se cambia ni por la gran pucta*/
.inventario {
  width: 100%;
  padding: 1rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}