main {
  display: inline-flex;
  flex-direction: row;
}

.searching input {
  height: 30px;
  padding: 0 15px;
  width: 200px;
  border-radius: 20px;
  background: transparent;
  border: none;
  box-shadow: inset 0 1px 6px;
  margin: 0 20px;
  outline: none;
}

.searching button,
.orders button {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: rgb(230, 222, 222);
  box-shadow: 0 3px 0 rgba(0, 0, 0, .3);
  transition: .1s;

}

.searching button:active,
.ShowOrders button:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, .3);
  transform: translateY(2px);
}

